body {
	height: 100vh;
	width: 100vw;
	background-image: url(https://raw.githubusercontent.com/marvindanig/zeppelin/master/assets/images/plate02b.jpg);
	background-size: 200% 100%; 
	background-position: right center;
}

.block {width: 60vw; margin-right: 5vw;}